.Contact {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.Contact .SectionTitle {
	width: 100%;
	background: var(--primary);
	border: solid 3px var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--3x) var(--2x);
	box-sizing: border-box;
	margin: 0 0 var(--2x) 0;
	font-size: 22px;
}

.Contact .Form {
	width: 100%;
}

.Form form {
	width: 100%;
}

.FormInput {
	width: 100%;
	margin: 0 0 var(--x) 0;
}
.FormInput:last-child {
	margin: var(--2x) 0 0 0;
}

.FormInput input,
.FormInput textarea {
	width: 100%;
	padding: var(--sm) var(--x);
	box-sizing: border-box;
	border: solid 3px var(--dark);
	background: var(--background);
	box-shadow: 4px 4px 0 var(--dark);
	transition: all 0.3s ease-out;

	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	color: var(--dark);
}

.FormInput input:focus,
.FormInput textarea:focus {
	box-shadow: 8px 8px 0 var(--primary);
	border-color: var(--primary);
	outline: none;
}

.FormInput input:invalid,
.FormInput textarea:invalid {
	box-shadow: 8px 8px 0 var(--form-input-wrong);
	border-color: var(--form-input-wrong);
	outline: none;
}

@media screen and (min-width: 1008px) {
	.Contact {
		max-width: 1200px;
		margin: auto;
		flex-flow: row-reverse nowrap;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
	}

	.Contact .SectionTitle {
		width: 45%;
	}

	.Contact .Form {
		width: 55%;
		margin: 0 var(--2x) 0 0;
	}
}
