.Header {
	padding: 0 var(--mobile-padding);
	box-sizing: border-box;
	background: var(--background);
	border-bottom: solid 3px var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header > img {
	width: 200px;
	height: auto;
	padding: var(--x) var(--2x) var(--x) 0;
	border-right: solid 3px var(--dark);
}

.Header .Menu .Burger {
	width: 35px;
	height: var(--x);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.Burger span {
	width: 100%;
	height: 5px;
	background: var(--dark);
}
.Burger:hover span {
	background: var(--dark-details);
}

.Header .Menu .Overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: -100%;
	background: rgba(23, 44, 102, 0);
	z-index: 10;
}

.Header .Menu.Open .Overlay {
	right: 0;
	background: rgba(23, 44, 102, 0.2);
}

.Header .Overlay .NavContainer {
	position: absolute;
	top: 0;
	right: -200px;
	width: 200px;
	height: 100%;
	background: var(--background);
	border-left: solid 3px var(--dark);
	transition: all 0.3s ease-out;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.Header .Menu.Open .Overlay .NavContainer {
	right: 0;
}

.NavContainer nav {
	padding: var(--2x) var(--x);
	box-sizing: border-box;
}

.NavContainer nav .Cross {
	width: 25px;
	height: 25px;
	margin-bottom: var(--2x);
	cursor: pointer;
}

.Cross span {
	display: block;
	width: 100%;
	height: 3px;
	background: var(--dark);
}

.Cross span:first-child {
	transform: rotate(45deg) translateY(3px);
}
.Cross span:last-child {
	transform: rotate(-45deg) translateY(-2px);
}

.NavContainer nav ul {
	list-style: none;
}

.NavContainer nav ul li {
	margin-bottom: var(--x);
}

.NavContainer nav ul li a {
	color: var(--dark);
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
}

.NavContainer .LangSelection {
	width: 100%;
	display: block;
	border-top: solid 3px var(--dark);
	padding: var(--2x) var(--x);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.LangSelection .SelectorContainer {
	width: 60px;
	height: 15px;
	background: var(--secondary);
	border-radius: 1000px;
	border: solid 3px var(--dark);
	position: relative;
}

.SelectorContainer .Indicator {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	transform: translateY(-50%);
	background: var(--primary);
	border-radius: 100%;
	border: solid 3px var(--dark);
	transition: all 0.2s;
}

.LangSelection p {
	font-weight: 500;
	font-size: 18px;
}

@media screen and (min-width: 641px) {
	.Header {
		padding: 0 var(--3x);
	}
}

@media screen and (min-width: 1008px) {
	.Header {
		padding: 0 var(--4x);
	}

	.Header .Menu .Burger {
		display: none;
	}

	.Header .Menu .Overlay {
		position: relative;
		width: 100%;
		right: 0;
		height: auto;
		background: transparent;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.Header .Menu.Open .Overlay {
		right: 0;
		background: rgba(23, 44, 102, 0.2);
	}

	.Header .Overlay nav {
		position: relative;
		right: 0;
		width: 100%;
		height: auto;
		border-left: none;
		padding: 0;
		transition: none;
	}

	.Overlay nav .Cross {
		display: none;
	}

	.Overlay nav ul li {
		margin: 0 0 0 var(--2x);
		display: inline-block;
	}

	.Overlay nav ul li a:hover {
		text-decoration: underline;
	}
}
