.About {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: var(--4x);
}

.About .Title {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: var(--x);
}

.Title div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Title div:first-child {
	background: var(--primary);
	border: solid 3px var(--dark);
	padding: var(--3x) var(--x);
	box-sizing: border-box;
}

.Title h2 {
	font-size: 28px;
}

.Title div:last-child img {
	transform: rotate(90deg);
	width: 25px;
}

.Content {
	margin-top: var(--x);
}

.Content .Quote p:first-child {
	font-size: 42px;
	font-weight: 700;
	font-style: italic;
}
.Content .Quote p:last-child {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 0 0 var(--2x);
}

.Content .AboutMe {
	margin: 30px 0 40px 0;
}

.Content .AboutMe p {
	font-family: var(--font-secondary);
	font-size: 16px;
}
.Content .AboutMe p:first-child {
	margin: 0 0 var(--x) 0;
}
