.About {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: var(--4x);
}

.Content {
	margin-top: var(--x);
}

.Content .Quote p:first-child {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
}
.Content .Quote p:last-child {
	font-size: 22px;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: right;
}

.Content .AboutMe {
	margin: 30px 0 40px 0;
}

.Content .AboutMe p {
	font-family: var(--font-secondary);
	font-size: 16px;
}
.Content .AboutMe p:first-child {
	margin: 0 0 var(--x) 0;
}

@media screen and (min-width: 1008px) {
	.About {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto var(--4x) auto;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: var(--4x);
	}

	.Content {
		margin-top: 0;
		width: 50%;
		margin-left: var(--2x);
	}

	.Content .Quote p:first-child {
		font-size: 32px;
	}

	.Content .AboutMe p {
		font-size: 18px;
	}
}
