.Info {
	width: 100%;
	padding: var(--sm) var(--x);
	box-sizing: border-box;
	border: solid 3px var(--dark);
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 var(--x) 0;
}

@media screen and (min-width: 1008px) {
	.Info {
		margin: 0 0 var(--x) 0;
	}
}
