.Info {
	width: 100%;
	padding: var(--sm) var(--x);
	box-sizing: border-box;
	border: solid 3px var(--dark);
	font-size: 18px;
	font-weight: 700;
	margin: var(--2x) 0 0 0;
}

@media screen and (min-width: 1008px) {
	.Info {
		position: absolute;
		left: 0;
		top: calc(var(--3x) * -1);
		margin: 0;
	}
}
