.LastProject {
	margin: 0 0 var(--4x) 0;
}

.LastProject .SectionTitle {
	width: 100%;
	padding: var(--3x) var(--2x);
	box-sizing: border-box;
	background: var(--primary);
	border: solid 3px var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.LastProjectContainer {
	width: 100%;
	background: var(--background);
	padding: var(--2x) var(--x);
	box-sizing: border-box;
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: flex-start;
	align-items: center;
	border: solid 3px var(--dark);
	transform: translateY(-3px);
}

.LastProjectContainer .ImageContainer {
	width: 100%;
	margin: 0 auto var(--x) auto;
	max-width: 400px;
}

.ImageContainer img {
	width: 100%;
	height: auto;
	border: solid 6px var(--dark);
	box-sizing: border-box;
}

.ProjectInfos .Description {
	margin: var(--x) 0;
}

.ProjectInfos h3 {
	font-size: 32px;
	font-weight: 700;
}

.ProjectInfos p {
	font-size: 20px;
	font-family: var(--font-secondary);
}
.ProjectInfos p:not(:last-child) {
	margin: 0 0 var(--sm);
}

.LastProjectContainer a {
	font-weight: 700;
	font-size: 18px;
	color: var(--dark);
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: solid 2px var(--dark);
}

.More {
	width: 100%;
	background: var(--secondary);
	border: solid 3px var(--dark);
	padding: var(--2x);
	box-sizing: border-box;
	transform: translateY(-6px);
}

@media screen and (min-width: 1008px) {
	.LastProject {
		max-width: 1200px;
		position: relative;
		margin: var(--x) auto calc(var(--5x) * 2) auto;
	}

	.LastProject .SectionTitle {
		width: 500px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transform: translate(-50px, -70%);
	}

	.LastProjectContainer {
		padding: var(--2x) var(--2x) var(--3x) var(--2x);
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
		transform: translateY(0);
	}

	.LastProjectContainer .ImageContainer {
		width: 40%;
		margin: 0;
	}

	.ImageContainer img {
		transition: all 50ms ease-out;
	}

	.ProjectInfos {
		width: 60%;
		padding: var(--2x) var(--2x) 0 0;
		box-sizing: border-box;
	}

	.ProjectInfos h3 {
		font-size: 30px;
	}

	.ProjectInfos p {
		font-size: 21px;
	}
	.ProjectInfos p:not(:last-child) {
		margin: 0 0 var(--sm);
	}

	.LastProjectContainer a {
		transition: all 0.3s ease-out;
	}
	.LastProjectContainer a:hover {
		border-bottom: solid 5px var(--dark);
	}

	.More {
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: var(--2x) var(--3x);
		transform: translate(50px, 70%);
	}
}
